img {
    float: left;
    height: 13cm;
    width: 11cm;
}
.column {
    width: 331px;
    float: left;
  }
.sidebar {
    width: 25%;
    float: right;
    background-color: skyblue;
}
.box {
    border: 2px hotpink; 
    padding: 8px;
    margin: 16px;
    float: right;
    
}
body {
    background-color: lightgrey;
}




